.change-color{
    height: 100px;
    width: 100px;
    background-color: green;
    margin: 20px 0;
}

.q54main{
    height: 200px;
    width: 200px;
    background-color: green;
}

.q54{
    height: 100px;
    width: 100px;
    background: red;
}

.active{
    background-color: aquamarine;
}

.visible{
    visibility: hidden;
}

.stopWatch{
    margin-top: 50px;
    background-color: bisque;
   height: 200px;
   width: 200px;
}

.show{
    
}